
<div class="twelve wide column">
  <% if my_profile %>
    <div class="box">
      <h3>Pending Friend Requests</h3>
      <div class="friendRequests">
        <%= render :partial => 'friendships/request', :collection => @friend_requests %>
      </div>
    </div>
  <% end %>
</div>

<div class="four wide column">
  <% if current_user %>
    <% unless my_profile || friends? %>
      <div class="box">
        <%= button_to "Add Friend", friendships_path(@profile.user), params: { friendship: { friend_id: @profile.user } }, remote: true, id: "requestFriend" %>
      </div>
    <% end %>
  <% end %>
</div>

<div class="four wide column">
  <aside class="sidebar">
    <div class="box">
      <div id="picture">
        <div id="profile_picture" class="avatar profile" style="background-image: url(<%= @profile.avatar.profile %>);"></div>
        <% if my_profile %>
          <%= render 'profiles/avatar' %>
        <% end %>
      </div>
    </div>
    <div class="box">
      <div id="details">
        <div id="name">
          <h2><%= @profile.user.username %></h2>
        </div>

        <div id="biography">
          <p><%= @profile.biography %></p>
          <% if my_profile %>
            <%= render 'profiles/biography' %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="box">
      <div id="friends">
        <h3>Friends</h3>
        <%= render :partial => 'friendships/user', :collection => @friends %>
      </div>
      <div id="friend_page_links">
        <%= will_paginate @friends, :page_links => true, :param_name => :friends_page, :class => 'friends_pagination' %>
      </div>
    </div>
  </aside>
</div>

<div class="six wide column">
  <div class="box">
    <h2>Future Expeditions</h2>
    <div id="futureExpeditions">
      <%= render :partial => 'profiles/expedition', :collection => @future_expeditions %>
    </div>
    <div id="future_exped_page_links">
      <%= will_paginate @future_expeditions, :page_links => true, :param_name => :future_expeds_page, :class => 'future_expeditions_pagination' %>
    </div>
  </div>
</div>
<div class="six wide column">
  <div class="box">
    <h2>Past Expeditions</h2>
    <div id="pastExpeditions">
      <%= render :partial => 'profiles/expedition', :collection => @past_expeditions %>
    </div>
    <div id="past_exped_page_links">
      <%= will_paginate @past_expeditions, :page_links => true, :param_name => :past_expeds_page, :class => 'past_expeditions_pagination' %>
    </div>
  </div>
</div>

<script>
var user_id = <%= @profile.user.id %>;
</script>
<%= javascript_include_tag 'profiles' %>
