

<% if current_user == @profile.user %>
  <div class="one wide column"></div>

  <div class="fourteen wide column">
    <div class="friendRequests">
    <h3>Pending Friend Requests</h3>
      <% current_user.friend_requests.each do |user| %>
        <div class="request" id="request_<%= user.id %>">
          <%= link_to "#{user.username}", user_profile_path(user) %>
          <div class="requestForm">
            <%= button_to "Accept Request", accept_friend_path(user), method: :patch, params: { friendship: { user_id: user } }, remote: true, id: "acceptFriend" %>
            <%= button_to "Reject Request", reject_friend_path(user), method: :patch, params: { friendship: { user_id: user } }, remote: true, id: "rejectFriend" %>
          </div> 
        </div>
      <% end %>
    </div>
  </div>

  <div class="one wide column"></div>
<% end %>


<div class="one wide column"></div>

<div class="four wide column">
  <div class="box">
    <div class="avatar profile" style="background-image: url(<%= @profile.avatar.profile %>);"></div>
    <%= render 'profiles/avatar' %>
  </div>
</div>

<div class="eight wide column">
  <div class="box">
    <div id="name">
      <h2><%= @profile.user.username %></h2>
    </div>

    <div id="biography">
      <p><%= @profile.biography %></p>
      <%= render 'profiles/biography' %>
    </div>
  </div>
</div>

<div class="three wide column">
  <% if current_user %>
    <% unless current_user == @profile.user  %>
      <% unless Friendship.between(current_user, @profile.user).any? %>
        <%= button_to "Add Friend", friendships_path(@profile.user), params: { friendship: { friend_id: @profile.user } }, remote: true, id: "requestFriend" %>
      <% end %>
    <% end %>
  <% end %>
</div>

<div class="one wide column"></div>

<div class="four wide column">
  <div class="box">
    <h3>Friends</h3>
    <div id="friends">
      <% @profile.user.friends.each do |user| %>
        <%= link_to user_profile_path(user) do %>
          <div class="friend" id="friend_<%= user.id %>">
            <div class="avatar thumb" style="background-image: url(<%= user.profile.avatar.thumb.url %>);"></div>
            <p><%= user.username %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="ten wide column">
  <div class="box">
    <h2>Past Expeditions</h2>
    <div id="pastExpeditions">
      <% @attended_expeditions.each do |expedition| %>
        <%= link_to expedition.title, expedition_path(expedition) %><br>
      <% end %>
    </div>
    <h2>Upcoming Expeditions</h2>
    <div id="futureExpeditions">
      <% @attending_expeditions.each do |expedition| %>
        <%= link_to expedition.title, expedition_path(expedition) %><br>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_include_tag 'profiles' %>
