
<div class="sixteen wide column">
  <div class="header">
    <%= image_tag(@expedition.header.header.url, id: "headerPic", style: "margin-top: -1em;") if @expedition.header %>
  </div>
</div>

<div class="ten wide column">
  <h1 class="bordered sidebar" id="boardName"><%= @expedition.name %> Message Board</h1>
</div>

<div class="two wide column"></div>

<div class="four wide column">
  <div>
    <%= link_to "Return to #{@expedition.name}", expedition_path(@expedition), class: "btn-med green" %>
  </div>
</div>

<div class="four wide column">
  <div class="bordered sidebar">
    <h3>Post to the Board</h3>
    <%= form_for [@expedition, @chat], method: :post do |f| %>
      <p>Enter a topic:</p>
      <%= f.text_field :topic %><br><br>
      <p>And the first post</p>
      <%= f.fields_for :messages, @chat.messages.build do |b| %>
        <%= b.text_area :body %>
      <% end %>
      <%= f.submit "Chat" %>
    <% end %>
  </div>
  <div class="bordered sidebar">
    <p>Click on a chatroom below</p>
  </div>
  <ul class="messageboard sidebar" style="padding: 0;">
    <% @chats.each do |chat| %>
      <li class="bordered toggleChat" id="toggleChat_<%= chat.id %>">
        <ul style="padding: 0;list-style-type: none">
          <li><strong><%= chat.topic %></strong> by <%= link_to "#{chat.creator.username}", user_profile_path(chat.creator) %></li><br>
          <li><strong>Last Message:</strong> "<%= chat.messages.last.body.html_safe %>" posted by <%= link_to "#{chat.messages.last.user.username}", user_profile_path(chat.messages.last.user) %></li>
        </ul>
      </li>
    <% end %>
  </ul>
</div>

<div class="twelve wide column">
  <div class="chatBox">
    <% unless @chats.empty? %>
      <% @chats.each do |chat| %>
        <div class="outerContainer" id="container_<%= chat.id %>">
          <div>
            <%= form_for @message, html: { class: "submitNew bordered" }, remote: true do |f| %>
              <%= f.text_area :body %><br>
            <% end %>
            <%= button_tag "Reply", class: "submitNewMessage btn green", id: "submitBtn_#{chat.id}" %>
          </div>
          <div class="innerContainer" id="chat_<%= chat.id %>">
            <% unless chat.messages.empty? %>
              <% chat.messages.reverse_each do |message| %>
                <%= render 'messages/message', message: message %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<%= javascript_include_tag 'messages' %>
