<div class="four wide column">
  <div class="box">
    <%= link_to "Return to #{@expedition.name}", expedition_path(@expedition), class: "btn-med green" %>
  </div>
</div>
<div class="eight wide column"></div>
<div class="four wide column"></div>

<div class="four wide column">
  <ul class="messageboard">
    <% @chats.each do |chat| %>
      <li class="topic chat sidebar box toggleChat" id="toggleChat_<%= chat.id %>">
        <strong><%= chat.topic %></strong> by <%= link_to "#{chat.creator.username}", user_profile_path(chat.creator) %><br>
        <strong>Last Message:</strong> <%= chat.messages.last.body.html_safe %> posted by <%= link_to "#{chat.messages.last.user.username}", user_profile_path(chat.messages.last.user) %>
    </li>
  <% end %>
  </ul>
</div>

<div class="twelve wide column">
  <% @chats.each do |chat| %>
    <div class="outerContainer" id="container_<%= chat.id %>">
      <div class="box">
        <%= form_for @message, html: { class: "submitNew" }, remote: true do |f| %>
          <%= f.text_area :body %><br>
        <% end %>
        <%= button_tag "Reply", class: "submitNewMessage", id: "submitBtn_#{chat.id}" %>
      </div>
      <div class="innerContainer box" id="chat_<%= chat.id %>">
        <% chat.messages.reverse_each do |message| %>
          <%= render 'messages/message', message: message %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<%= javascript_include_tag 'messages' %>
