<div class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    Invite your Friends
  </div>
  <%= form_for :journeys, url: expedition_invite_friends_path(@expedition), method: :post do |f| %>
    <%= f.collection_check_boxes(:user_ids, current_user.friends, :id, :username) do |b| %>
      <div class="inviteBox">
        <div>
          <%= render :partial => 'users/user', :locals => { user: b.object } %>
        </div>
        <div>
          <% if @expedition.attending?(b.object) %>
            <p>Already attending</p>
          <% elsif @expedition.invited?(b.object) %>
            <p>Already invited</p>
          <% else %>
            <p>Available</p>
            <%= b.check_box(class: "check_box") %>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="actions">
      <%= f.submit "Invite Selected", class: "btn green", id: "inviteSubmit" %>
    </div>
  <% end %>
</div>
