
<% if current_user %>
  <div class="one wide column"></div>

  <div class="four wide column">
    <div class="organise">
      <%= button_tag "Organise your own Expedition", id: "organiseExpedition" %>
      <%= render 'expeditions/create' %>
    </div>
    <div id="mostRecent">
      <% @most_recent.each do |expedition| %>
        <p>by <%= expedition.creator.username %> had <%= expedition.journeys.count %> attendees</p>
      <% end %>
    </div>
  </div>

  <div class="eleven wide column"></div>

  <div class="one wide column"></div>

  <div class="four wide column"></div>

  <div class="eleven wide column"></div>
<% else %>

  <div class="one wide column"></div>

  <div class="fourteen wide column">
    <div id="mostRecent">
      <% @most_recent.each do |expedition| %>
        by <%= expedition.creator.username %>
      <% end %>
    </div>
  </div>

  <div class="one wide column"></div>
<% end %>

<%= javascript_include_tag 'expeditions' %>

