
<% if current_user %>
  <div class="one wide column"></div>

  <div class="four wide column">
    <div class="organise">
      <%= button_tag "Organise your own Expedition", id: "organiseExpedition" %>
      <%= render 'expeditions/create' %>
    </div>
    <div id="mostRecent">
      <% @most_recent.each do |expedition| %>
        <div class="sideExped">
          <p><%= link_to "#{expedition.title}", expedition_path(expedition) %></p>
          <p>Organised by <%= link_to "#{expedition.creator.username}", user_profile_path(expedition.creator) %></p>
        </div>
      <% end %>
    </div>
  </div>

  <div class="eleven wide column"></div>

  <div class="one wide column"></div>

  <div class="four wide column"></div>

  <div class="eleven wide column"></div>
<% else %>

  <div class="one wide column"></div>

  <div class="fourteen wide column">
    <div id="mostRecent">
      <% @most_recent.each do |expedition| %>
        <div class="sideExped">
          <p><%= link_to "#{expedition.title}", expedition_path(expedition) %></p>
          <p>Organised by <%= link_to "#{expedition.creator.username}", user_profile_path(expedition.creator) %></p>
        </div>
      <% end %>
    </div>
  </div>

  <div class="one wide column"></div>
<% end %>

<%= javascript_include_tag 'expeditions' %>

