
<% if current_user %>

  <div class="four wide column">
    <h2 class="sidebar">Most Recent</h2>
    <div id="mostRecent">
      <% @most_recent.each do |expedition| %>
        <div class="sideExped sidebar bordered">
          <%= render :partial => 'expeditions/expedition', locals: { expedition: expedition } %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="eight wide column">
    <h2 class="sidebar">Timeline</h2>
    <% @activities.each do |activity| %>
      <div class="bordered">
        <p>
        <%= link_to "#{activity.user.username}", user_profile_path(activity.user) %>
        <%= activity.action %> <%= link_to "#{activity.subject.name}",
          Rails.application.routes.url_helpers.send(:"#{activity.path}_path", activity.subject) %>
        <%= render "#{activity.subject_type.underscore}s/#{activity.subject_type.underscore}",
        activity.subject_type.underscore.to_sym => activity.subject %>
      </p>
      </div>
    <% end %>
    <%= will_paginate @activities, :page_links => false, :param_name => :activities_page, :class => 'activites_pagination' %>
  </div>

  <div class="four wide column">
    <h2 class="sidebar">My Expeditions</h2>
    <div id="myExpeds">
      <% @created.each do |expedition| %>
        <div class="bordered rightbar">
          <%= render :partial => 'expeditions/expedition', locals: { expedition: expedition } %>
        </div>
      <% end %>
    </div>
  </div>

<% else %>

  <div class="sixteen wide column">
    <div id="cycler">
      <div class="active banner" style="background-image: url(https://s3-eu-west-1.amazonaws.com/stillness-in-motion/banners/banner-2.jpg);"></div>
      <div class="banner" style="background-image: url(https://s3-eu-west-1.amazonaws.com/stillness-in-motion/banners/banner-1.jpg);"></div>
      <div class="banner" style="background-image: url(https://s3-eu-west-1.amazonaws.com/stillness-in-motion/banners/banner-3.jpg);"></div>
      <div class="banner" style="background-image: url(https://s3-eu-west-1.amazonaws.com/stillness-in-motion/banners/banner-4.jpg);"></div>
    </div>
    <h2 class="title">Create your own adventure...</h2>
    <div style="height: 375px;"></div>
  </div>

  <div class="sixteen wide column">
    <div id="mostRecent">
      <% @most_recent.each do |expedition| %>
        <div class="front-page bordered">
          <%= render :partial => 'expeditions/expedition', locals: { expedition: expedition } %>
        </div>
      <% end %>
    </div>
  </div>

<% end %>

<%= javascript_include_tag 'expeditions' %>

