
<% if current_user %>
  <div class="four wide column">
    <div id="mostRecent">
      <h2>Most Recent</h2>
      <% @most_recent.each do |expedition| %>
        <div class="sideExped">
          <%= render :partial => 'expeditions/expedition', locals: { expedition: expedition } %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="eight wide column">
    <% @activities.each do |activity| %>
      <div class="box">
        <p>
        <%= link_to "#{activity.user.username}", user_profile_path(activity.user) %>
        <%= activity.action %> <%= link_to "#{activity.subject.name}",
          Rails.application.routes.url_helpers.send(:"#{activity.path}_path", activity.subject) %>
        <%= render "#{activity.subject_type.underscore}s/#{activity.subject_type.underscore}",
        activity.subject_type.underscore.to_sym => activity.subject %>
      </p>
      </div>
    <% end %>
    <%= will_paginate @activities, :page_links => true, :param_name => :activities_page, :class => 'activites_pagination' %>
  </div>

  <div class="four wide column">

  </div>
<% else %>

  <div class="sixteen wide column">
    <div id="cycler">
      <div class="active banner" style="background-image: url(/assets/banners/banner-1.jpg);"></div>
      <div class="banner" style="background-image: url(/assets/banners/banner-1.jpg);"></div>
      <div class="banner" style="background-image: url(/assets/banners/banner-3.jpg);"></div>
      <div class="banner" style="background-image: url(/assets/banners/banner-4.jpg);"></div>
    </div>
    <h2 class="title">Create your own adventure...</h2>
    <div style="height: 375px;"></div>
  </div>

  <div class="sixteen wide column">
    <div id="mostRecent">
      <% @most_recent.each do |expedition| %>
        <div class="box front-page">
          <%= render :partial => 'expeditions/expedition', locals: { expedition: expedition } %>
        </div>
      <% end %>
    </div>
  </div>

<% end %>


<%= javascript_include_tag 'expeditions' %>

