
<div class="sixteen wide column">
  <div class="header">
    <%= image_tag(@expedition.header.header.url, id: "headerPic") if @expedition.header %>

    <% if organiser %>
      <%= form_for @expedition, html: { id: "mountHeader" }, method: :patch, remote: true do |f| %>
        <%= f.file_field :header %><br>
        <%= f.submit "Add Header Image" %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="one wide column"></div>

<div class="fourteen wide column">

  <% if organiser %>
    <div id="requests">
      <%= render :partial => 'expeditions/request', :collection => @requested_users %>
    </div>
  <% end %>

</div>

<div class="one wide column"></div>

<div class="one wide column"></div>

<div class="fourteen wide column">
  <h1><%= @expedition.title %></h1>
  <% if organiser %>
    <p>You are the organiser of this event</p>
  <% end %>

  <% unless requestable %>
    <% if current_user %>
      <%= button_to "Request to Join", expedition_requesting_path(@expedition), params: { expedition_id: @expedition.id }, id: 'request', method: :post %>
    <% else %>
      <%= button_to "Request to Join", new_user_session_path %>
    <% end %>
  <% end %>

</div>

<div class="one wide column"></div>

<div class="one wide column"></div>

<div class="seven wide column">
  <% if current_user %>
    <% if involved %>
      <%= button_tag "Invite Friends", id: "inviteFriends" %>
      <%= render 'expeditions/invites' %>
    <% end %>
  <% end %>

  <% if current_user %>
    <% if @expedition.invited? current_user %>
      <%= button_to "Accept Invite", expedition_accept_invite_path(@expedition), params: { expedition_id: @expedition.id }, id: 'acceptInvite', method: :patch %>
    <% end %>
  <% end %>
</div>

<div class="seven wide column">
  <div id='map'></div>
</div>

<div class="one wide column"></div>

<div class="one wide column"></div>

<div class="seven wide column">
</div>

<div class="seven wide column">
  <% if organiser %>

    <%= form_for [@expedition, @start_location], html: { id: "addStart" }, method: :patch, remote: true do |f| %>
      <%= f.hidden_field :latitude, value: "", id: "startLat" %>
      <%= f.hidden_field :longitude, value: "", id: "startLng" %>
      <%= f.submit "Submit Start Location" %>
    <% end %>

    <%= form_for [@expedition, @end_location], html: { id: "addEnd" }, method: :patch, remote: true do |f| %>
      <%= f.hidden_field :latitude, value: "", id: "endLat" %>
      <%= f.hidden_field :longitude, value: "", id: "endLng" %>
      <%= f.submit "Submit End Location" %>
    <% end %>

  <% end %>
</div>

<div class="one wide column"></div>

<div class="one wide column"></div>

<div class="four wide column">
  <% unless @expedition.complete? %>
    <h4>Attending</h4>
    <div id="attending">
      <%= render :partial => 'friendships/user', :collection => @attending_users %>
    </div>
    <h4>Invited</h4>
    <div id="invited">
      <%= render :partial => 'friendships/user', :collection => @invited_users %>
    </div>
  <% else %>
    <h4>Attended</h4>
    <div id="invited">
      <%= render :partial => 'friendships/user', :collection => @attended_users %>
    </div>
  <% end %>
</div>

<div class="one wide column"></div>


<script>
var expedition_id = <%= @expedition.id %>;
</script>

<%= javascript_include_tag 'map' %>
<%= javascript_include_tag 'expeditions' %>
<%= javascript_include_tag 'marker' %>


