
<div class="sixteen wide column">
  <div class="header">
    <%= image_tag(@expedition.header.header, id: "headerPic") if @expedition.header %>
    <% if @expedition.creator? current_user %>
      <%= form_for @expedition, html: { id: "mountHeader" }, method: :patch, remote: true do |f| %>
        <%= f.file_field :header %><br>
        <%= f.submit "Add Header Image" %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="one wide column"></div>

<div class="fourteen wide column">
  <% if current_user && @expedition.creator?(current_user) %>
    <div id="requestees">
      <% @expedition.requested_users.each do |user| %>
        <%= link_to user.username, user_profile_path(user) %> ----
        <%= button_to "Approve Request", expedition_request_approval_path(@expedition), params: { journey: { expedition_id: @expedition.id, user_id: user.id } }, method: :post %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="one wide column"></div>

<div class="one wide column"></div>

<div class="fourteen wide column">
  <h1><%= @expedition.title %></h1>
  <%# %%TODO%% Turn this into a Options panel %>
  <% if !current_user %>
    <%= button_to "Request to Join", new_user_session_path %>
  <% elsif current_user && @expedition.creator?(current_user) %>
    <div id="requestees">
      <% @expedition.requested_users.each do |user| %>
        <%= link_to user.username, user_profile_path(user) %> ----
        <%= button_to "Approve Request", expedition_request_approval_path(@expedition), params: { journey: { expedition_id: @expedition.id, user_id: user.id } }, method: :post %>
      <% end %>
    </div>
  <% elsif @expedition.invited?(current_user) || @expedition.requested?(current_user) || @expedition.attending?(current_user) %>
      Dont show Jack
  <% else %>
    <%= button_to "Request to Join", expedition_requesting_path(@expedition), params: { journey: { expedition_id: @expedition.id } }, id: 'request', method: :post %>
  <% end %>
</div>

<div class="one wide column"></div>

<div class="one wide column"></div>

<div class="fourteen wide column">
  <div id='map'></div>
</div>

<div class="one wide column"></div>

<div class="one wide column"></div>

<div class="fourteen wide column">
  <% if @expedition.creator? current_user %>

    <%= form_for [@expedition, @start_location], html: { id: "addStart" }, method: :patch, remote: true do |f| %>
      <%= f.hidden_field :latitude, value: "", id: "startLat" %>
      <%= f.hidden_field :longitude, value: "", id: "startLng" %>
      <%= f.submit "Submit Start Location" %>
    <% end %>

    <%= form_for [@expedition, @end_location], html: { id: "addEnd" }, method: :patch, remote: true do |f| %>
      <%= f.hidden_field :latitude, value: "", id: "endLat" %>
      <%= f.hidden_field :longitude, value: "", id: "endLng" %>
      <%= f.submit "Submit End Location" %>
    <% end %>

  <% end %>
</div>

<div class="one wide column"></div>

<div class="one wide column"></div>

<div class="fourteen wide column">
  <div id="attending">
    <%# %%TODO%%% Use partials to dry up the view %>
    <% @expedition.attending_users.each do |user| %>
      <%= link_to user_profile_path(user) do %>
        <div class="attendees" id="attendee_<%= user.id %>">
          <div class="avatar thumb" style="background-image: url(<%= user.profile.avatar.thumb.url %>);"></div>
          <%= user.username %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="one wide column"></div>

<script>
var expedition_id = <%= @expedition.id %>;
</script>

<%= javascript_include_tag 'map' %>
<%= javascript_include_tag 'expeditions' %>
<%= javascript_include_tag 'marker' %>
