
<div class="sixteen wide column">
  <div class="header">
    <%= image_tag(@expedition.header.header, id: "headerPic") if @expedition.header %>
    <%= form_for @expedition, html: { id: "mountHeader" }, method: :patch, remote: true do |f| %>
      <%= f.file_field :header %><br>
      <%= f.submit "Add Header Image" %>
    <% end %>
  </div>
</div>

<div class="one wide column"></div>

<div class="fourteen wide column">
  <h1><%= @expedition.title %></h1>
</div>

<div class="one wide column"></div>

<div class="one wide column"></div>

<div class="fourteen wide column">
  <div id="map"></div>
</div>

<div class="one wide column"></div>

<script>
mapboxgl.accessToken = 'pk.eyJ1Ijoia3lwaGFlIiwiYSI6ImNpdzZyOHhxbTAwMHoydHFwMDhqNHI4Z2YifQ.gbBkr7hxt4NuJfNg2-S43w';
map = renderMap();
</script>

<%= javascript_include_tag 'map' %>
<%= javascript_include_tag 'expeditions' %>
