
<div class="sixteen wide column">
  <div class="header">
    <%= image_tag(@expedition.header.header, id: "headerPic") if @expedition.header %>
    <%= form_for @expedition, html: { id: "mountHeader" }, method: :patch, remote: true do |f| %>
      <%= f.file_field :header %><br>
      <%= f.submit "Add Header Image" %>
    <% end %>
  </div>
</div>

<div class="one wide column"></div>

<div class="fourteen wide column">
  <h1><%= @expedition.title %></h1>
</div>

<div class="one wide column"></div>

<div class="one wide column"></div>

<div class="fourteen wide column">
  <div id='map'></div>
</div>

<div class="one wide column"></div>

<div class="one wide column"></div>

<div class="fourteen wide column">
  <%= form_for @expedition, html: { id: "addLatLng" }, method: :patch, remote: true do |f| %>
    <%= f.hidden_field :start_lat, value: "" %>
    <%= f.hidden_field :start_lng, value: "" %>
    <%= f.hidden_field :end_lat, value: "" %>
    <%= f.hidden_field :end_lng, value: "" %>
    <%= f.submit "Submit Start and End Location" %>
  <% end %>
</div>

<div class="one wide column"></div>

<script>
var expedition_id = <%= @expedition.id %>;
</script>

<%= javascript_include_tag 'map' %>

<script>
mapboxgl.accessToken = 'pk.eyJ1Ijoia3lwaGFlIiwiYSI6ImNpdzZyOHhxbTAwMHoydHFwMDhqNHI4Z2YifQ.gbBkr7hxt4NuJfNg2-S43w';
var map = initMap();
locate();
</script>

<%= javascript_include_tag 'expeditions' %>
<%= javascript_include_tag 'marker' %>
