<!DOCTYPE html>
<html>
  <head>
    <title>Explorer</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= semantic_flash %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src='https://momentjs.com/downloads/moment.min.js'></script>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.28.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.28.0/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.0.1/mapbox-gl-geocoder.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.0.1/mapbox-gl-geocoder.css' type='text/css' />
    <%= javascript_include_tag 'global' %>

  </head>

  <body>
    <p></p>
    <p></p>
    <div class="ui grid">
      <div class="sixteen wide column nav">
      <nav>
        <div class="ui inverted menu">
          <% if user_signed_in?%>
            <a class="item">Logged in as <%= current_user.username %></a>
            <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "item green" %>
            <a class="item"></a>
            <%= link_to "Profile", user_profile_path(current_user), class: "item green" %>
            <%= link_to "Expeditions", root_path, class: "item green" %>
            <%= link_to "Friends", "#", id: "friendNav", class: "item green" %>
            <div class="organise">
              <%= button_tag "Organise an Expedition", class: "btn-med green", id: "organiseExpedition" %>
              <%= render 'expeditions/create' %>
            </div>
          <% else %>
            <%= link_to "Home", root_path, class: "item green" %>
            <%= link_to "Log In", new_user_session_path, class: "item green" %>
            <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, class: "item green" %>
          <% end %>
        </div>
      </nav>
      <div class="dropdown notVisible top-menu">
        <% if current_user %>
          <h4 class="sidebar">Pending Friend Requests</h4>
          <div class="friendRequests">
            <%= render :partial => 'friendships/request', :collection => @friend_requests %>
          </div>
        <% end %>
      </div>
      </div>
      <%= yield %>
    </div>
    <br>
    <footer>
      <img src="/creative-commons.png">
    </footer>
  </body>
</html>
