<!DOCTYPE html>
<html>
  <head>
    <title>Explorer</title>
    <%= csrf_meta_tags %>
    <%= semantic_flash %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src='https://momentjs.com/downloads/moment.min.js'></script>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.28.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.28.0/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.0.1/mapbox-gl-geocoder.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.0.1/mapbox-gl-geocoder.css' type='text/css' />


  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="ui grid">
      <br>
      <nav>
        <div class="ui inverted menu fixed">
          <% if user_signed_in?%>
            <%= link_to "Profile", user_profile_path(current_user), class: "item green" %>
            <%= link_to "Expeditions", root_path, class: "item green" %>
            <%= link_to "Friends", "#", id: "friendNav", class: "item green" %>
            <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "item green" %>
            <p>Logged in as <%= current_user.username %></p>
            <div class="organise">
              <%= button_tag "Organise an Expedition", class: "btn-med green", id: "organiseExpedition" %>
              <%= render 'expeditions/create' %>
            </div>
          <% else %>
            <%= link_to "Home", root_path, class: "item green" %>
            <%= link_to "Log In", new_user_session_path, class: "item green" %>
            <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, class: "item green" %>
          <% end %>
        </div>
      </nav>
      <div class="dropdown notVisible">
        <% if current_user %>
          <div class="friendRequests">
            <h4>Pending Friend Requests</h4>
            <%= render :partial => 'friendships/request', :collection => @friend_requests %>
          </div>
        <% end %>
      </div>

      <%= yield %>
    </div>
  </body>
  <script>
$('#friendNav').on("click", function (e) {
  e.preventDefault();
  var dropdown = $('.dropdown');
  if (dropdown.hasClass("visible")) {
    dropdown.removeClass("visible");
    dropdown.addClass("notVisible");
  } else {
    dropdown.addClass("visible");
    dropdown.removeClass("notVisible");
  };
});
  </script>
</html>
